extends ../layout

block content
  .container.is-fluid#updates(style="padding-top: 2rem").content.is-large
    .container
      h1 Background Information
      section(style="padding:0 1rem 4rem")
        p Anthony Edward "Tony" Stark is a billionaire industrialist, inventor and the former CEO of Stark Industries, a company originally started by his father, Howard Stark. Stark enjoyed the playboy lifestyle for many years until he was kidnapped by the Ten Rings. With his life on the line, Stark created an armoured suit which he used to escape his captors, returning home and becoming the armoured superhero known as Iron Man, battling against terrorists as well as his former business partner Obadiah Stane. This suit was known as the Iron Man Mark I Suit. However, this suit didn’t have much control over the flight as he crashed the original suit in the Ten Rings Base. 
    .container.is-fluid(style="height: 80vh; overflow: hidden;")
      img.image(src="img/bg/Mark3Model.png", style="margin:auto; min-height: 100%;")
    .container
      section(style="padding:4rem 1rem")
        p Stark decided to create a more controlled flight capability for his suit after discovering the Arc Reactor, the power source for the suit that his dad originally designed, was vastly more powerful than he expected and he launched straight up and painfully crashed into the ceiling on his first test flight while designing the Mark II suit. Making some redesigns to the new armour, he developed new stabilizers which would attach to his hands and give him a new level of control while in the air. While testing out the new designs, Stark was joined by Pepper Potts who mistakenly believed that Stark was designing new weapons for Stark Industries which he then denied, claiming that this design was not a weapon but it was completely harmless.
    .container.is-fluid(style="height: 80vh;overflow: hidden;")
      img.image(src="img/bg/iron_man_rockets.jpg" style="margin:auto; min-height: 100%;")
    .container
      section(style="padding:4rem 1rem")
        p While giving J.A.R.V.I.S. his plans to improve the Mark III armour in order to fix the icing problems and improve the flight controls, Stark noticed a news report in which Zorianna Kit was reporting on a new charity event at the Walt Disney Concert Hall which Stark was now supposedly hosting. Stark questioned J.A.R.V.I.S. if he had been invited to the event to which J.A.R.V.I.S. then confirmed he had not, so Stark left his A.I. to complete the Mark III while he got himself ready to attend. At the party, he learns that his business partner Obadiah Stane betrayed him by ultimately forcing Stark out of the company executive board, and selling arms to those who kidnapped him.
    .container.is-fluid(style="height: 80vh;overflow: hidden;")
      img.image(src="img/bg/Iron_Man_Mark_3_thrusters.jpg" style="margin:auto; min-height: 100%;")
    .container
      section(style="padding:4rem 1rem")
        p Seeking to do something good with the technology he had created, Stark donned his new suit and flew to Afghanistan. Knowing where Raza's men were attacking, Iron Man headed for Gulmira, the home village of Ho Yinsen, another captive of the Ten Rings. Upon arriving, Iron Man discovered innocent women and children were being dragged out of their own homes to become slaves for the Ten Rings while the men were being lined up to be executed right in front of their own horrified children.
    .container.is-fluid(style="height: 80vh;overflow: hidden;")
      img.image(src="img/bg/suitup.jpg" style="margin:auto; min-height: 100%;")
    .container
      section(style="padding:4rem 1rem")
        p Iron Man attacked and easily subdued all of the soldiers, using his advanced weapons systems to kill multiple terrorists with single strikes and saving the lives of the innocent people. Having found his former captor, Abu Bakaar, Iron Man ripped him through a wall and left him for the villagers to gain their own revenge. While Bakaar was being killed, Iron Man focused his efforts on destroying the Ten Rings entire stockpiles of the Stark Industries weapons.

    
    
    
