extends ../layout

block content
  .container.is-fluid#updates(style="padding-top: 2rem").content.is-large
    .container
      h1 Downloads 
        p
          span Click 
          a(href="") here 
          span to download the final project
        
