extends ../layout

block content
  .container.is-fluid#updates(style="padding-top: 2rem").content.is-large
    .container
      h1 Downloads 
      p
        span Click 
        a(href="https://drive.google.com/open?id=13c3JY1n7iYpDI3Bb-AecRIfGLjrZgZs9") here 
        span to download the final project
        
