extends ../layout

block content
  .container.is-fluid#updates(style="padding-top: 2rem").content.is-large
    .container
      h1 Downloads 
      p These are the download links to the project. There is a .mb (Maya) file, a .fbx, and a .max (3DS Max) file. The Maya .mb file is the only type that correctly loads all the uv sets and therefore the textures.
      table.table.is-striped.is-hoverable.is-fullwidth
        thead
          tr
            th Download Type
            th Link
        tbody
          tr
            td Google Drive ZIP
            td 
              a(href="https://drive.google.com/open?id=1TuzMjYomdRvGcNuVOCuLSCkJqlM1_2ay") https://drive.google.com/open?id=1TuzMjYomdRvGcNuVOCuLSCkJqlM1_2ay
          tr 
            td Google Drive Folder
            td 
              a(href="https://drive.google.com/open?id=1Qyb3g--o93m2B6cwpg7r6GHWRNpuCg2n") https://drive.google.com/open?id=1Qyb3g--o93m2B6cwpg7r6GHWRNpuCg2n
          tr
            td Mega ZIP
            td 
              a(href="https://mega.nz/#!XQ8ClISQ!lTqs1vis-6hQ0jT1QZSKBr4CpAQrCfXQZGTzC9DPeX0") https://mega.nz/#!XQ8ClISQ!lTqs1vis-6hQ0jT1QZSKBr4CpAQrCfXQZGTzC9DPeX0
          tr 
            td Mega Folder
            td 
              a(href="https://mega.nz/#F!CYl0zIaK!u_Ogh_5euHypuhkwJTHtXg") https://mega.nz/#F!CYl0zIaK!u_Ogh_5euHypuhkwJTHtXg
              
          
      p
        span Click 
        a(href="https://drive.google.com/open?id=13c3JY1n7iYpDI3Bb-AecRIfGLjrZgZs9") here 
        span to download the final project
        
