extends ../layout

block content
  .container.is-fluid#updates(style="padding-top: 2rem").content.is-large
    .container
      h1 Reference Images
      section(style="padding:0 1rem 4rem")
        p These reference images are a decent replica of the Iron man mark III suit. 
    .container.is-fluid(style="height: 80vh; overflow: hidden;")
      img.image(src="/img/reference/ironman-mark-2.png", style="margin:auto; min-height: 100%;")
    .container
      section(style="padding:4rem 1rem")
        p=`Bedroom Furniture Club 2019, Iron Man Mark 2 Blueprints, Viewed On 2 March 2019, \<https://bedroomfurniture.club/search/iron-man-mark-2-blueprints.html\>.`
