extends ../layout

block content
  .container.is-fluid#updates(style="padding-top: 2rem").content.is-large
    section(style="padding:0 1rem 4rem")
      h1 Rendering
      h3 The Final Rendering
      p.is-size-4 The reason I chose this background is because it had a distinct animated look, which is similar to the model's texture mapping.
      img.image(src="img/FinalRender/FinalRenderApartment.jpg")
      h3 Secondary Render
      p.is-size-4 I used this render to compare the look of a real life background to the model and its textures.
      img.image(src="img/FinalRender/FinalRenderManhattan.jpg")
      p.is-size-4 Both rendered shots of the model used a secondary camera called Shot1, with a background image for each render. 
      p.is-size-4 Final Polygon Count: 9907 
      
 
