extends ../layout

block content
  .container(style="padding-top: 2rem").content
    h1.has-text-centered Summary Of Techniques Used During Modelling
    table.table.is-striped.is-hoverable.is-fullwidth
      thead
        tr
          th Name of Technique
          th Technique Usage
          th Reasoning
          th Source
      tbody
        tr
          td Box Modelling
          td 
          td 
          td 
        tr
          td Extrusion Tool
          td 
          td 
          td 
        tr
          td Bridging Tool
          td 
          td 
          td 
        tr
          td Boolean Functions
          td 
          td 
          td 
        tr
          td Subdivision Surface (Polygons)
          td 
          td 
          td 
        tr
          td UV Mapping
          td 
          td 
          td 
        tr
          td Texture Mapping
          td 
          td 
          td 
          
            
