extends layout

block content
  .section.is-paddingless#intro
    span The Ultimate Guide to Hacking Life
    canvas(width="" height="")#matrix 
  .container.is-fluid#updates(style="padding-top: 2rem")
    h1.title.is-1 Recent Posts
    .tile.is-ancestor(style="flex-wrap:wrap")
      each post in updates
        .tile.is-parent.is-4.is-pulled-left
          article.tile.is-child.notification.is-info
            p.title= post.title
            p.subtitle= post.tag
            .content= post.content
  
    
    
    
    
    
    
