footer.footer
  .content.has-text-centered(style="width: 100%;")
    p
      strong The YashHax Blog
      |  by 
      a(href='https://jgthms.com') Saurav Yash Agasti
      | . The source code is licensed 
      a(href='http://opensource.org/licenses/mit-license.php')  MIT
      | . The website content
      |       is licensed 
      a(href='http://creativecommons.org/licenses/by-nc-sa/4.0/') CC BY NC SA 4.0
      | .
