nav.menu
  a.menu-item.logo(href='/') YASHHAX
  a.menu-item.menu-blank
  .menu-item.menu-links
    a(href='projects')
      span Projects
      i.fas.fa-book
    a(href='about')
      span About
      i.fas.fa-address-card
    a(href='contact')
      span Contact
      i.fas.fa-envelope