@font-face {
  font-family: "Uni-Sans";
  font-style: italic;
  src: url("font/uni-sans/Uni Sans Heavy Italic.otf");
}

@font-face {
  font-family: "Uni-Sans";
  font-style: normal;
  src: url("font/uni-sans/Uni Sans Heavy.otf");
}

@font-face {
  font-family: "Uni-Sans-Thin";
  src: url("font/uni-sans/Uni Sans Thin.otf");
}

@font-face {
  font-family: "Uni-Sans-Thin";
  font-style: italic;
  src: url("font/uni-sans/Uni Sans Thin Italic.otf");
}