extends ../../layout

block content
  .container.is-fluid#updates(style="padding-top: 2rem").content.is-large
    section(style="padding:0 1rem 4rem")
      h1 The Polygon Bridge Tool
      p.is-size-4 The Bridge tool is one of the most helpful functions in a 3D artist’s arsenal. It is a hugely versatile tool that can create the foundations for a complex build, or produce curved and twisted geometry with a single click of the mouse.
      p.is-size-4 I used it while fixing the corrupt faces that arose from the (somewhat unreliable) boolean technique. I was forced to delete many faces with reversed normals and lamina (overlapping) faces and use the bridging tool to then fill those holes.
      p=`Griggs, M. 2018, Master the Bridge tool, Viewed On 10 March 2019, <https://www.creativebloq.com/how-to/master-the-bridge-tool>.`
    
