extends ../../layout

block content
  .container.is-fluid#updates(style="padding-top: 2rem").content.is-large
    h1 The Extrusion Tool
    section(style="padding:0 1rem 4rem")
      p.is-size-3 
    
