extends ../../layout

block content
  .container.is-fluid#updates(style="padding-top: 2rem").content.is-large
    h1 Box Modelling
    section(style="padding:0 1rem 4rem")
      p.is-size-3 Box modelling is a 3D modelling technique in which the artist begins with a low-resolution primitive (typically a cube or sphere) and modifies the shape by rotating faces and edges, scaling, or extruding. 
      .columns.is-multiline
        .column.is-one-third
          img.image(src="/img/screenshots/body_only/1.png")
        .column.is-one-third
          img.image(src="/img/screenshots/body_only/3.png")
        .column.is-one-third
          img.image(src="/img/screenshots/body_only/2.png")
          img.image(src="/img/screenshots/body_only/4.png")
      p.is-size-3 This resulted in an extremely complex polygon of the Iron Man design as a final result. 
      .columns.is-multiline
        .column.is-one-quarter
          img.image(src="/img/screenshots/legs/2.png")
        .column.is-one-quarter
          img.image(src="/img/screenshots/legs/5.png")
        .column.is-one-quarter
          img.image(src="/img/screenshots/legs/4.png")
          img.image(src="/img/screenshots/legs/3.png")
        .column.is-one-quarter
          img.image(src="/img/screenshots/legs/1.png")
      p.is-size-3 The process used various tools and steps that sometimes were repeated again and again until it was completed. Box Modelling is about refinement, and redefining. 
      .columns.is-multiline
        .column.is-one-third
          img.image(src="/img/screenshots/torso/1.png")
        .column.is-one-third
          img.image(src="/img/screenshots/torso/2.png")
        .column.is-one-third
          img.image(src="/img/screenshots/torso/3.png")
        .column.is-one-third
          img.image(src="/img/screenshots/torso/4.png")
        .column.is-one-third
          img.image(src="/img/screenshots/torso/5.png")
        .column.is-one-third
          img.image(src="/img/screenshots/torso/6.png")
        .column.is-one-third
          img.image(src="/img/screenshots/back/1.png")
        .column.is-one-third
          img.image(src="/img/screenshots/back/2.png")
      p.is-size-3 I used box modelling due to its simple nature for modelling, allowing the 3D shape of the model to form with a low polygon count as opposed to NURBS. I have also done box modelling in the past, and this helped me by accelerating the entire process. 
      .columns.is-multiline  
        .column.is-half
          img.image(src="/img/screenshots/duplicate_half/1.png", style="width:100%")
        .column.is-half
          img.image(src="/img/screenshots/duplicate_half/2.png")
        .column.is-one-third
          img.image(src="/img/screenshots/duplicate_half/4.png")
        .column.is-one-third
          img.image(src="/img/screenshots/duplicate_half/3.png")
        .column.is-one-third
          img.image(src="/img/screenshots/duplicate_half/5.png")
        .column.is-one-third
          img.image(src="/img/screenshots/duplicate_half/6.png")
        .column.is-one-third
          img.image(src="/img/screenshots/duplicate_half/7.png")
        .column.is-one-third
          img.image(src="/img/screenshots/duplicate_half/8.png")
      p.is-size-3 I modelled the head with similar techniques as used on the body, but the chin/mouth area had broken geometry so it was rebuilt twice. This is the danger of merging vertices without caring for formation of non-manifold geometry.
      .columns.is-multiline
        .column.is-one-quarter
          img.image(src="/img/screenshots/head/1.png")
        .column.is-one-quarter
          img.image(src="/img/screenshots/head/2.png")
        .column.is-one-quarter
          img.image(src="/img/screenshots/head/3.png")
        .column.is-one-quarter
          img.image(src="/img/screenshots/head/4.png")
        .column.is-one-quarter
          img.image(src="/img/screenshots/head/5.png")
        .column.is-one-quarter
          img.image(src="/img/screenshots/head/6.png")
        .column.is-one-quarter
          img.image(src="/img/screenshots/head/7.png")
        .column.is-one-quarter
          img.image(src="/img/screenshots/head/8.png")
        .column.is-one-third
          img.image(src="/img/screenshots/hands/2.png" style="width: 100%;max-height: 75%")
        .column.is-one-third
          img.image(src="/img/screenshots/hands/1.png")
        .column.is-one-third
          img.image(src="/img/screenshots/hands/3.png")
      p.is-size-3 Some of these processes caused errors within the models, breaking the 3D geometry within the model. This was especiallly evident during the duplication process. I duplicated the better half of the model and replaced the other half with the mirrored version of the duplicate, as there were many issues with the symmetry tool after I adjusted the small details.
      .columns.is-multiline
        .column.is-one-third
          img.image(src="/img/screenshots/duplicate_half/9.png")
        .column.is-one-third
          img.image(src="/img/screenshots/duplicate_half/10.png")
        .column.is-one-third
          img.image(src="/img/screenshots/duplicate_half/11.png")
        .column.is-one-third
          img.image(src="/img/screenshots/duplicate_half/12.png")
        .column.is-one-third
          img.image(src="/img/screenshots/duplicate_half/13.png")
        .column.is-one-third
          img.image(src="/img/screenshots/duplicate_half/14.png")
        .column.is-one-third
          img.image(src="/img/screenshots/duplicate_half/15.png")
      p= `Jonaitis, J. 2004, Box modeling Technique, Viewed On 12 March 2019, <http://www.jjonaitis.com/tuto/tuto2.htm>. `
      p= `Mansur, R. 2008, Box model in Maya, Viewed On 14 March 2019, <https://autodesk-maya.wonderhowto.com/how-to/box-model-maya-196725/>. `

    
