extends ../../layout

block content
  .container.is-fluid#updates(style="padding-top: 2rem").content.is-large
    section(style="padding:0 1rem 2rem")
      h1 Subdivision Modelling
      p.is-size-4 Subdivision modelling is a unique surface type available in Maya that brings many of the characteristics of NURBS surface types to polygon meshes.
      
      p.is-size-4 I used this technique for the arms and hands on the Iron Man Model, allowing for the realistic glove-like look. I tried to create a a glove-like hand rather than a robotic metal hand in order to showcase Tony Stark's hands. 
      
      p.is-size-4 This gave the model a distinct look, as well as showcase this modelling technique. However, this tool created many non-manifold geometry issues when used with the boolean combine tool, due to the high number of polygons that were merged.
      
      p=`Autodesk 2018, Subdiv to Polygons Options, Viewed On 10 March 2019, <https://knowledge.autodesk.com/support/maya/learn-explore/caas/CloudHelp/cloudhelp/2018/ENU/Maya-Basics/files/GUID-31FAF0FF-6EE1-4360-A65A-FFED15C12BBD-htm.html>.` 
      p=`Autodesk Inc 2011, Subdivision Surface Modeling, Viewed On 10 March 2019, <http://download.autodesk.com/us/support/files/subds.pdf?_ga=2.172947619.1276328628.1554623393-1504128217.1549585410>. `
