extends ../../layout

block content
  .container.is-fluid#updates(style="padding-top: 2rem").content.is-large
    .container
      section(style="padding:0 1rem 4rem")
        h1 Texture Mapping
        p.is-size-4 Texture mapping is process of the application of patterns or images to three-dimensional graphics to enhance the realism of their surfaces.
        p.is-size-4 I used texture mapping to add colour to the grey mesh, adding a metallic material to all of the parts.
        p.is-size-4 This is a collection of the texture maps that were used in conjunction with the UV Maps. They have been outlined with the UV maps to give context. 
        h4 Head
        img.image(src="/img/uv_maps/colour/outlined/iron_man_U1_V1.png")
        
        h4 Body
        img.image(src="/img/uv_maps/colour/outlined/iron_man_U2_V1.png")
        
        h4 Hands
        .columns.is-multiline
          .column.is-half
            img.image(src="/img/uv_maps/colour/outlined/iron_man_U3_V1.png")
          .column.is-half
            img.image(src="/img/uv_maps/colour/outlined/iron_man_U3_V2.png")
        h4 Legs
        .columns.is-multiline
          .column.is-half
            img.image(src="/img/uv_maps/colour/outlined/iron_man_U4_V1.png")
          .column.is-half
            img.image(src="/img/uv_maps/colour/outlined/iron_man_U4_V2.png")
        

    
